<%- @title = 'Base Records' -%>

<table class="standard">
<%- if @base_record.company_attributes.blank? -%>
  <tr>
    <th colspan="3"><em>No base records have been created yet.</em></th>
  </tr>
<%- else -%>
  <tr>
  <%- @company_attribute_fields.each do |field| -%>
    <th><%= field.to_s -%></th>
  <%- end -%>
  </tr>

  <%- @base_record.company_attributes.each do |company_attribute| -%>
  <tr class="<%= cycle('odd', 'even') -%>">
    <%- @company_attribute_fields.each do |field| -%>
    <td><%= company_attribute.send field -%></td>
    <%- end -%>
  </tr>
  <%- end -%>
<%- end -%>
</table>